.vs/config/applicationhost.config
DataModel/obj/Debug/build.force
SportClubUkolova/bin/System.Net.Http.Formatting.dll
.vs/SportClubUkolova/v14/.suo
DataModel/obj/Debug/TempPE/Models.SportClub.cs.dll
DataModel/obj/Debug/TempPE/Models.SportClub.Designer.cs.dll
DataModel/obj/Debug/TempPE/App_Data.SportsClub.cs.dll
DataModel/obj/Debug/TempPE/App_Data.SportsClub.Context.cs.dll
DataModel/bin/Debug/DataModel.dll
DataModel/bin/Debug/DataModel.dll.config
DataModel/bin/Debug/DataModel.pdb
DataModel/bin/Debug/EntityFramework.dll
DataModel/bin/Debug/EntityFramework.xml
DataModel/bin/Debug/ru/EntityFramework.resources.dll
DataModel/obj/Debug/DataModel.csproj.FileListAbsolute.txt
DataModel/obj/Debug/DataModel.dll
DataModel/obj/Debug/DataModel.pdb
SportClubUkolova/bin/DataModel.dll
SportClubUkolova/bin/DataModel.pdb
SportClubUkolova/bin/EntityFramework.dll
SportClubUkolova/bin/EntityFramework.xml
SportClubUkolova/bin/SportClubUkolova.dll
SportClubUkolova/bin/SportClubUkolova.pdb
SportClubUkolova/bin/ru/EntityFramework.resources.dll
SportClubUkolova/obj/Debug/SportClubUkolova.csproj.FileListAbsolute.txt
SportClubUkolova/obj/Debug/SportClubUkolova.csprojResolveAssemblyReference.cache
SportClubUkolova/obj/Debug/SportClubUkolova.dll
SportClubUkolova/obj/Debug/SportClubUkolova.pdb
DataModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SportsClub.WebClient/bin/ru/EntityFramework.resources.dll
SportsClub.WebClient/bin/ru/EntityFramework.SqlServer.resources.dll
SportsClub.WebClient/bin/roslyn/csc.exe
SportsClub.WebClient/bin/roslyn/vbc.exe
SportsClub.WebClient/bin/roslyn/VBCSCompiler.exe.config
SportsClub.WebClient/bin/Microsoft.Web.Infrastructure.dll
SportsClub.WebClient/bin/SportsClub.WebClient.dll.config
SportsClub.WebClient/bin/Newtonsoft.Json.dll
SportsClub.WebClient/bin/Newtonsoft.Json.xml
SportsClub.WebClient/bin/SportsClub.WebClient.dll
SportsClub.WebClient/bin/SportsClub.WebClient.pdb
SportsClub.WebClient/bin/System.Web.Helpers.dll
SportsClub.WebClient/bin/Microsoft.ApplicationInsights.xml
SportsClub.WebClient/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
SportsClub.WebClient/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
SportsClub.WebClient/bin/System.Web.Helpers.xml
SportsClub.WebClient/bin/System.Web.Mvc.dll
SportsClub.WebClient/bin/System.Web.Mvc.xml
SportsClub.WebClient/bin/System.Web.Optimization.dll
SportsClub.WebClient/bin/System.Web.Optimization.xml
SportsClub.WebClient/bin/System.Web.Razor.dll
SportsClub.WebClient/bin/System.Web.Razor.xml
SportsClub.WebClient/bin/System.Web.WebPages.Deployment.dll
SportsClub.WebClient/bin/System.Web.WebPages.Deployment.xml
SportsClub.WebClient/bin/System.Web.WebPages.Razor.dll
SportsClub.WebClient/bin/System.Web.WebPages.Razor.xml
SportsClub.WebClient/bin/System.Web.WebPages.dll
SportsClub.WebClient/bin/WebGrease.dll
SportsClub.WebClient/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
SportsClub.WebClient/bin/roslyn/Microsoft.CSharp.Core.targets
SportsClub.WebClient/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
SportsClub.WebClient/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
SportsClub.WebClient/bin/roslyn/Microsoft.CodeAnalysis.dll
SportsClub.WebClient/bin/roslyn/Microsoft.VisualBasic.Core.targets
SportsClub.WebClient/bin/roslyn/System.Collections.Immutable.dll
SportsClub.WebClient/bin/roslyn/System.Reflection.Metadata.dll
SportsClub.WebClient/bin/roslyn/VBCSCompiler.exe
SportsClub.WebClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SportsClub.WebClient/obj/Debug/SportsClub.WebClient.csproj.FileListAbsolute.txt
SportsClub.WebClient/obj/Debug/SportsClub.WebClient.csprojResolveAssemblyReference.cache
SportsClub.WebClient/obj/Debug/SportsClub.WebClient.dll
SportsClub.WebClient/obj/Debug/SportsClub.WebClient.pdb
SportsClub.WebClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SportsClub.WebClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SportsClub.WebClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SportsClub.WebClient/bin/Microsoft.AI.PerfCounterCollector.dll
SportsClub.WebClient/bin/Microsoft.AI.ServerTelemetryChannel.dll
SportsClub.WebClient/bin/Microsoft.AI.ServerTelemetryChannel.xml
SportsClub.WebClient/bin/Microsoft.AI.Web.dll
SportsClub.WebClient/bin/Microsoft.AI.Web.xml
SportsClub.WebClient/bin/Microsoft.AI.WindowsServer.dll
SportsClub.WebClient/bin/Microsoft.AI.WindowsServer.xml
SportsClub.WebClient/bin/Microsoft.ApplicationInsights.dll
SportsClub.WebClient/bin/System.Web.WebPages.xml
