.vs/config/applicationhost.config
DataModel/obj/Debug/build.force
SportClubUkolova/bin/System.Net.Http.Formatting.dll
.vs/SportClubUkolova/v14/.suo
DataModel/obj/Debug/TempPE/Models.SportClub.cs.dll
DataModel/obj/Debug/TempPE/Models.SportClub.Designer.cs.dll
DataModel/obj/Debug/TempPE/App_Data.SportsClub.cs.dll
DataModel/obj/Debug/TempPE/App_Data.SportsClub.Context.cs.dll
DataModel/bin/Debug/DataModel.dll
DataModel/bin/Debug/DataModel.dll.config
DataModel/bin/Debug/DataModel.pdb
DataModel/bin/Debug/EntityFramework.dll
DataModel/bin/Debug/EntityFramework.xml
DataModel/bin/Debug/ru/EntityFramework.resources.dll
DataModel/obj/Debug/DataModel.csproj.FileListAbsolute.txt
DataModel/obj/Debug/DataModel.dll
DataModel/obj/Debug/DataModel.pdb
SportClubUkolova/bin/DataModel.dll
SportClubUkolova/bin/DataModel.pdb
SportClubUkolova/bin/EntityFramework.dll
SportClubUkolova/bin/EntityFramework.xml
SportClubUkolova/bin/SportClubUkolova.dll
SportClubUkolova/bin/SportClubUkolova.pdb
SportClubUkolova/bin/ru/EntityFramework.resources.dll
SportClubUkolova/obj/Debug/SportClubUkolova.csproj.FileListAbsolute.txt
SportClubUkolova/obj/Debug/SportClubUkolova.csprojResolveAssemblyReference.cache
SportClubUkolova/obj/Debug/SportClubUkolova.dll
SportClubUkolova/obj/Debug/SportClubUkolova.pdb
